*{
    margin: 0;
    padding: 0;
}

#header-logo{
    background-image: url('img/pattern.png');
    background-color: rgb(0, 162, 255);
    height: 100px;
    width: 100%;
}

/*problema, ci torno dopo
header h1, h5{
    position: relative;
    left: 50px;
}
*/

section #title{
    font-size: 60px;
}

section .sottotitolo-founder{
    margin-left: 5px;
}

section #evidenziatura{
    color: rgb(0, 199, 235);
}

section .sottotitolo{
    font-size: 0.7em;
    margin-left: 5px;
}

.container-foto{
    width: 100%;
    height: 400px;
    margin-top: 10px
}

section div img{
    float: left;
    margin: 3px;
    width: calc(100% / 2 - 6px);
    height: 100%;
}

.sottotitolo-img{
    font-family: cursive;
    font-size: 10px;
}

.speciale{
    font-size: 0.9em;
    font-family: italic;
    margin-left: 5px;
}

.speciale-text{
    font-family: Arial, Helvetica, sans-serif;
}

.testo-centrale{
    width: 100%;
    margin-top: 60px;
    margin-left: 10px;
}

.special-evidenziatore{
    background-color: rgb(241, 230, 132);
}

.testo-centrale-basso{
    width: 100%;
    margin-top: 60px;
    margin-left: 20px;
}

.section-table{
    margin-top: 60px;
    background-color: lightblue;
}

section table{
    width: 100%;
    border-collapse: collapse;
}

th{
    width: 33%;
    text-align: left;
    background-color: rgb(0, 141, 235);
}


.colore-white{
    background-color: #f5f5f5;
}